<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include '/common/resources.html'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" href="${base}/resources/sys/ying/iconfont.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/bootstrap.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/style.css">
        <script type="text/javascript" src="${base}/resources/sys/js/jquery.js"></script>
<title>盈+后台管理中心</title>
</head>
<body>
	<div style="position:absolute;width:100%;height:100%">
	<table width="100%" height="100%">
		<tr>
			<td align="center" valign="middle"><img src="${base}/resources/sys/images/adminwelcom.png"></img></td>
		</tr>
	</table>
	</div>
</body>
</html>
