<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=yes">
	<meta name="Keywords" content="股指体验交易，股指单手交易，股指多手交易">
	<meta name="description" content="申请实盘交易账户，直接进行实盘交易。">
	<title>盈+</title>
	<#include 'common/resources.html'>
	<style type="text/css">
	.down_img{
		position:absolute;
		left:660px;
		top:250px;
	}
	</style>
</head>
<body>
<#include "common/top.html">
 <div class="sdbanner probanner"></div>
	
	 <div class="down">
    	<h1>版本：<font color="#9a8140">1.0</font>（build 15）/  大小：<font color="#9a8140">5.3MB</font>  /  2015-10-30</h1>
    	<div class="down_img"><img alt="" src="${base}/resources/images/appdownload.png" width="150px" height="150px"></div>
    	<div class="down_xz">
    	<a href="${base}/download/app/ios" target="_black"><i class="iconfont">&#xe623;</i>IOS版本下载</a>
    	<a href="${base}/download/app/android" class="android"><i class="iconfont">&#xe622;</i>安卓版本下载</a>
    	</div>
    	
    </div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?282435d865729ac986ce327cbc2a51c1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<#include "common/footer.html">
</body>
</html>